<div class='post'>
    <div class='picture'>
        <% var hash = hex_md5(userEmail); %>
        <img src=<%= 'https://secure.gravatar.com/avatar/' + hash + '?size=130&default=https%3A%2F%2Fwww.parse.com%2Fimages%2Faccounts%2Fno_avatar.png' %> />
    </div>


    <h1><a href="<%= '/posts/' + post.id %>"><%= post.get('title') %></a></h1>
    <h5><%= formatTime(post.createdAt) %></h5>
    <div class='content'>
        <p><%- post.get('body').replace(/\n/g, '<br />') %></p>
    </div>
</div>
